<a href="https://colab.research.google.com/github/IndraLukasTjahaja/Digital_Credit_Risk/blob/main/Bab_2_3_3_Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
# 2.3.2.1 Persiapan data dan impor ke Python

In [34]:
# 2.3.2.2 Impor data di Python

# library panda untuk menggunakan data frame
import pandas as pd

# Impor data dari excel xls ke Python
# Pembaca dapat langsung menunjuk kepada file excel yang terletak di website pendamping buku ini
# atau mengunduh terlebih dahulu dan menunjuk ke file excel di lokasi hard drive
# contoh: df = pd.read_excel('C:\User\pembaca\downloads\German_credit.xls')

df = pd.read_excel('https://github.com/IndraLukasTjahaja/Digital_Credit_Risk/raw/main/Credit_Scoring_Dataset.xlsx')

In [35]:
# 2.3.2.4 Tipe data

# Merubah tipe data menjadi tipe karakter kategori
df['gagal_bayar'] = df.gagal_bayar.astype('category')
df['Tujuan_Pinjaman'] = df.Tujuan_Pinjaman.astype('category')
df['Status_Rekening_Bank'] = df.Status_Rekening_Bank.astype('category')
df['Pendapatan_perbulan'] = df.Pendapatan_perbulan.astype('category')
df['Lama_Bekerja'] = df.Lama_Bekerja.astype('category')
df['Status'] = df.Status.astype('category')
df['Kepemilikan_Rumah'] = df.Kepemilikan_Rumah.astype('category')
df['Alamat_Rumah'] = df.Alamat_Rumah.astype('category')
df['Alamat_Kantor'] = df.Alamat_Kantor.astype('category')
df['Lama_tinggal_ditempat_sekarang'] = df.Lama_tinggal_ditempat_sekarang.astype('category')
df['debt_burden_ratio'] = df.debt_burden_ratio.astype('category')
df['Device_Type'] = df.Device_Type.astype('category')
df['Device_Active_Since'] = df.Device_Active_Since.astype('category')
df['SLIK_Kolektibilitas'] = df.SLIK_Kolektibilitas.astype('category')

# Merubah tipe data menjadi tipe karakter int64
# Gunakan intger untuk angka bulat
df['API_CreditScore_Vendor_A'] = df.API_CreditScore_Vendor_A.astype('int64')
df['API_CreditScore_Vendor_B'] = df.API_CreditScore_Vendor_B.astype('int64')
df['Device_Apps_Installed'] = df.Device_Apps_Installed.astype('int64')

# Merubah tipe data menjadi tipe karakter float64
# Gunakan intger untuk angka dengan koma
# Jika dalam kolom tersebut terdapat null, maka harus di simpan dalam tipe float
df['Lama_Cicilan'] = df.Lama_Cicilan.astype('float64')
df['Usia'] = df.Usia.astype('float64')
df['Jumlah_Pinjaman'] = df.Jumlah_Pinjaman.astype('float64')
df['SLIK_Outstanding'] = df.SLIK_Outstanding.astype('float64')

In [36]:
import numpy as np

# Untuk dapat melakukan analisa statistik, harus mengubah variabel gagal_bayar dari string menjadi angka (integer)
# Mengubah target variabel gagal_bayar menjadi angka 0 dan 1
conditions = [
             df['gagal_bayar'] == '1_Gagal', 
             df['gagal_bayar'] == '0_Bayar'
             ]

choices     = [
             1,
             0
             ]
df['default'] = np.select(conditions,choices, default = 0)

In [37]:
# 2.3.3.1 Membuat Variabel Baru
df['cicilan_per_bulan'] = df['Jumlah_Pinjaman'] / df['Lama_Cicilan']

In [38]:
# 2.3.3.2 Penanganan untuk data yang hilang (missing values)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 29 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              999 non-null    object
 1   gagal_bayar                     991 non-null    category
 2   Lama_Cicilan                    981 non-null    float64
 3   Tujuan_Pinjaman                 995 non-null    category
 4   Jumlah_Pinjaman                 1000 non-null   float64
 5   Pekerjaan                       987 non-null    object
 6   Status_Rekening_Bank            989 non-null    category
 7   Pendapatan_perbulan             989 non-null    category
 8   Lama_Bekerja                    972 non-null    category
 9   Status                          995 non-null    category
 10  Kepemilikan_Rumah               996 non-null    category
 11  Alamat_Rumah                    1000 non-null   category
 12  Alamat_Kantor                   1000 non-null   category
 13  Usia                            998 non-null    float64
 14  Lama_tinggal_ditempat_sekarang  997 non-null    category
 15  debt_burden_ratio               1000 non-null   category
 16  SLIK_Kolektibilitas             947 non-null    category
 17  SLIK_Outstanding                960 non-null    float64
 18  API_CreditScore_Vendor_A        1000 non-null   int64
 19  API_CreditScore_Vendor_B        1000 non-null   int64
 20  Device_Type                     1000 non-null   category
 21  Device_Apps_Installed           1000 non-null   int64
 22  Device_Active_Since             1000 non-null   category
 23  Device_Apps_Segmentation        1000 non-null   object
 24  Mobile_Provider                 1000 non-null   object
 25  Mobile_Number_Active_Since      1000 non-null   object
 26  Email_Domain_Type               1000 non-null   object
 27  default                         1000 non-null   int64
 28  cicilan_per_bulan               981 non-null    float64
dtypes: category(14), float64(5), int64(4), object(6)
memory usage: 133.4+ KB

In [39]:
# 2.3.3.2.1 Mengisi data kosong dengan data pengganti
# Koding berikut menggantikan missing value dari semua variabel dengan
# nilai yang paling sering muncul (modus) untuk variabel kategori dan nilai rata-rata untuk variabel numerik

# Memisahkan variabel kategori dengan variabel numerik
df_numerik = df.select_dtypes(include=['float64','int64','int'])
df_kategori = df.select_dtypes(exclude = ['float64','int64','int'])

for kolom in df_numerik.columns:
  df_numerik[kolom].fillna(df_numerik[kolom].mean(), inplace=True)

for kolom in df_kategori.columns:
  df_kategori[kolom].fillna(df_kategori[kolom].mode()[0], inplace=True)

# Menggabungkan dataset variabel kategori dan dengan variabel numerik
df_persiapan_1 = pd.concat([df_numerik, df_kategori], axis = 1)

print(df_persiapan_1.info())
print(df_persiapan_1.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 29 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Lama_Cicilan                    1000 non-null   float64
 1   Jumlah_Pinjaman                 1000 non-null   float64
 2   Usia                            1000 non-null   float64
 3   SLIK_Outstanding                1000 non-null   float64
 4   API_CreditScore_Vendor_A        1000 non-null   int64
 5   API_CreditScore_Vendor_B        1000 non-null   int64
 6   Device_Apps_Installed           1000 non-null   int64
 7   default                         1000 non-null   int64
 8   cicilan_per_bulan               1000 non-null   float64
 9   ID                              1000 non-null   object
 10  gagal_bayar                     1000 non-null   category
 11  Tujuan_Pinjaman                 1000 non-null   category
 12  Pekerjaan                       1000 non-null   object
 13  Status_Rekening_Bank            1000 non-null   category
 14  Pendapatan_perbulan             1000 non-null   category
 15  Lama_Bekerja                    1000 non-null   category
 16  Status                          1000 non-null   category
 17  Kepemilikan_Rumah               1000 non-null   category
 18  Alamat_Rumah                    1000 non-null   category
 19  Alamat_Kantor                   1000 non-null   category
 20  Lama_tinggal_ditempat_sekarang  1000 non-null   category
 21  debt_burden_ratio               1000 non-null   category
 22  SLIK_Kolektibilitas             1000 non-null   category
 23  Device_Type                     1000 non-null   category
 24  Device_Active_Since             1000 non-null   category
 25  Device_Apps_Segmentation        1000 non-null   object
 26  Mobile_Provider                 1000 non-null   object
 27  Mobile_Number_Active_Since      1000 non-null   object
 28  Email_Domain_Type               1000 non-null   object
dtypes: category(14), float64(5), int64(4), object(6)
memory usage: 133.4+ KB
None
   Lama_Cicilan  ...    Email_Domain_Type
0           6.0  ...        Public_Domain
1          48.0  ...        Public_Domain
2          12.0  ...        Public_Domain
3          42.0  ...  Professional_Domain
4          24.0  ...        Public_Domain

[5 rows x 29 columns]

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [40]:
# 2.3.3.2.2 tidak menggunakan baris data yang kosong

# Menggunakan fungsi dropna() untuk menghapus semua baris yang memiliki data kosong di salah satu kolomnya
# Untuk membedakan data yang telah 'dibersihkan' maka kita membuat dataframe baru df_persiapan_2   
df_persiapan_2 = df.dropna()

# Cek hasil dari df2
df_persiapan_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 874 entries, 0 to 999
Data columns (total 29 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              874 non-null    object
 1   gagal_bayar                     874 non-null    category
 2   Lama_Cicilan                    874 non-null    float64
 3   Tujuan_Pinjaman                 874 non-null    category
 4   Jumlah_Pinjaman                 874 non-null    float64
 5   Pekerjaan                       874 non-null    object
 6   Status_Rekening_Bank            874 non-null    category
 7   Pendapatan_perbulan             874 non-null    category
 8   Lama_Bekerja                    874 non-null    category
 9   Status                          874 non-null    category
 10  Kepemilikan_Rumah               874 non-null    category
 11  Alamat_Rumah                    874 non-null    category
 12  Alamat_Kantor                   874 non-null    category
 13  Usia                            874 non-null    float64
 14  Lama_tinggal_ditempat_sekarang  874 non-null    category
 15  debt_burden_ratio               874 non-null    category
 16  SLIK_Kolektibilitas             874 non-null    category
 17  SLIK_Outstanding                874 non-null    float64
 18  API_CreditScore_Vendor_A        874 non-null    int64
 19  API_CreditScore_Vendor_B        874 non-null    int64
 20  Device_Type                     874 non-null    category
 21  Device_Apps_Installed           874 non-null    int64
 22  Device_Active_Since             874 non-null    category
 23  Device_Apps_Segmentation        874 non-null    object
 24  Mobile_Provider                 874 non-null    object
 25  Mobile_Number_Active_Since      874 non-null    object
 26  Email_Domain_Type               874 non-null    object
 27  default                         874 non-null    int64
 28  cicilan_per_bulan               874 non-null    float64
dtypes: category(14), float64(5), int64(4), object(6)
memory usage: 123.6+ KB