<a href="https://colab.research.google.com/github/IndraLukasTjahaja/Digital_Credit_Risk/blob/main/Bab_2_3_2_Data_Understanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2.3.2.1 Persiapan data dan impor ke Python

In [2]:
# 2.3.2.2 Impor data di Python

# library panda untuk menggunakan data frame
import pandas as pd

# Impor data dari excel xls ke Python
# Pembaca dapat langsung menunjuk kepada file excel yang terletak di website pendamping buku ini
# atau mengunduh terlebih dahulu dan menunjuk ke file excel di lokasi hard drive
# contoh: df = pd.read_excel('C:\User\pembaca\downloads\German_credit.xls')

df = pd.read_excel('https://github.com/IndraLukasTjahaja/Digital_Credit_Risk/raw/main/Credit_Scoring_Dataset.xlsx')
#df = pd.read_excel('https://tjahaja.com/wp-content/uploads/2021/07/Credit_Scoring_Dataset.xlsx')

In [3]:
# 2.3.2.3 Struktur data

# Melihat sample dari dataset
df.head(5) # 5 baris awal data

# Melihat detail kolom dari dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              999 non-null    object
 1   gagal_bayar                     991 non-null    object
 2   Lama_Cicilan                    981 non-null    float64
 3   Tujuan_Pinjaman                 995 non-null    object
 4   Jumlah_Pinjaman                 1000 non-null   int64
 5   Pekerjaan                       987 non-null    object
 6   Status_Rekening_Bank            989 non-null    object
 7   Pendapatan_perbulan             989 non-null    object
 8   Lama_Bekerja                    972 non-null    object
 9   Status                          995 non-null    object
 10  Kepemilikan_Rumah               996 non-null    object
 11  Alamat_Rumah                    1000 non-null   object
 12  Alamat_Kantor                   1000 non-null   object
 13  Usia                            998 non-null    float64
 14  Lama_tinggal_ditempat_sekarang  997 non-null    object
 15  rasio_cicilan_pendapatan        988 non-null    object
 16  SLIK_Kredit                     987 non-null    object
 17  SLIK_Kolektabilitas             947 non-null    float64
 18  SLIK_Outstanding                960 non-null    float64
 19  API_CreditScore_Vendor_A        1000 non-null   int64
 20  API_CreditScore_Vendor_B        1000 non-null   int64
 21  Device_Type                     1000 non-null   object
 22  Device_Apps_Installed           1000 non-null   int64
 23  Device_Active_Since             1000 non-null   object
 24  Mobile_Provider                 1000 non-null   object
 25  Email_Domain_Type               1000 non-null   object
dtypes: float64(4), int64(4), object(18)
memory usage: 203.2+ KB

        ID gagal_bayar  ...  Mobile_Provider    Email_Domain_Type
0  ABC0001     0_Bayar  ...          Telco_A  Professional_Domain
1  ABC0002     1_Gagal  ...          Telco_E  Professional_Domain
2  ABC0003     0_Bayar  ...          Telco_A  Professional_Domain
3  ABC0004     0_Bayar  ...          Telco_E      Personal_Domain
4  ABC0005     1_Gagal  ...          Telco_D  Professional_Domain

[5 rows x 26 columns]

In [ ]:
# 2.3.2.4 Tipe data

df['installment_as_income_perc'] = df.installment_as_income_perc.astype('category')
df['Jumlah_Pinjaman'] = df.present_res_since.astype('category')
df['people_under_maintenance'] = df.people_under_maintenance.astype('category')
df['credits_this_bank'] = df.credits_this_bank.astype('category')