<a href="https://colab.research.google.com/github/IndraLukasTjahaja/Digital_Credit_Risk/blob/main/Bab_2_3_2_Data_Understanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 2.3.2.1 Persiapan data dan impor ke Python

In [2]:
# 2.3.2.2 Impor data di Python

# library panda untuk menggunakan data frame
import pandas as pd

# Impor data dari excel xls ke Python
# Pembaca dapat langsung menunjuk kepada file excel yang terletak di website pendamping buku ini
# atau mengunduh terlebih dahulu dan menunjuk ke file excel di lokasi hard drive
# contoh: df = pd.read_excel('C:\User\pembaca\downloads\German_credit.xls')

df = pd.read_excel('https://github.com/IndraLukasTjahaja/Digital_Credit_Risk/raw/main/Credit_Scoring_Dataset.xlsx')

In [3]:
# 2.3.2.3 Struktur data

# Melihat sample dari dataset
df.head(10) # Menampilkan 10 baris teratas dari dataframe df

        ID gagal_bayar  ...  Mobile_Number_Active_Since    Email_Domain_Type
0  ABC0001     0_Bayar  ...            1_Kurang_1_bulan        Public_Domain
1  ABC0002     1_Gagal  ...            1_Kurang_1_bulan        Public_Domain
2  ABC0003     0_Bayar  ...            2_Kurang_1_tahun        Public_Domain
3  ABC0004     0_Bayar  ...            2_Kurang_1_tahun  Professional_Domain
4  ABC0005     1_Gagal  ...            1_Kurang_1_bulan        Public_Domain
5  ABC0006     0_Bayar  ...            2_Kurang_1_tahun        Public_Domain
6  ABC0007     0_Bayar  ...             5_Lebih_5_tahun        Public_Domain
7  ABC0008     0_Bayar  ...             5_Lebih_5_tahun        Public_Domain
8  ABC0009     0_Bayar  ...              3_1_ke_2_tahun        Public_Domain
9  ABC0010     1_Gagal  ...            1_Kurang_1_bulan        Public_Domain

[10 rows x 27 columns]

In [4]:
# Melihat penjelasan singkat dan tipe data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              999 non-null    object
 1   gagal_bayar                     991 non-null    object
 2   Lama_Cicilan                    981 non-null    float64
 3   Tujuan_Pinjaman                 995 non-null    object
 4   Jumlah_Pinjaman                 1000 non-null   int64
 5   Pekerjaan                       987 non-null    object
 6   Status_Rekening_Bank            989 non-null    object
 7   Pendapatan_perbulan             989 non-null    object
 8   Lama_Bekerja                    972 non-null    object
 9   Status                          995 non-null    object
 10  Kepemilikan_Rumah               996 non-null    object
 11  Alamat_Rumah                    1000 non-null   object
 12  Alamat_Kantor                   1000 non-null   object
 13  Usia                            998 non-null    float64
 14  Lama_tinggal_ditempat_sekarang  997 non-null    object
 15  debt_burden_ratio               414 non-null    object
 16  SLIK_Kolektibilitas             947 non-null    float64
 17  SLIK_Outstanding                960 non-null    float64
 18  API_CreditScore_Vendor_A        1000 non-null   int64
 19  API_CreditScore_Vendor_B        1000 non-null   int64
 20  Device_Type                     1000 non-null   object
 21  Device_Apps_Installed           1000 non-null   int64
 22  Device_Active_Since             1000 non-null   object
 23  Device_Apps_Segmentation        1000 non-null   object
 24  Mobile_Provider                 1000 non-null   object
 25  Mobile_Number_Active_Since      1000 non-null   object
 26  Email_Domain_Type               1000 non-null   object
dtypes: float64(4), int64(4), object(19)
memory usage: 211.1+ KB

In [6]:
# 2.3.2.4 Tipe data

# Merubah tipe data menjadi tipe karakter kategori
df['gagal_bayar'] = df.gagal_bayar.astype('category')
df['Tujuan_Pinjaman'] = df.Tujuan_Pinjaman.astype('category')
df['Status_Rekening_Bank'] = df.Status_Rekening_Bank.astype('category')
df['Pendapatan_perbulan'] = df.Pendapatan_perbulan.astype('category')
df['Lama_Bekerja'] = df.Lama_Bekerja.astype('category')
df['Status'] = df.Status.astype('category')
df['Kepemilikan_Rumah'] = df.Kepemilikan_Rumah.astype('category')
df['Alamat_Rumah'] = df.Alamat_Rumah.astype('category')
df['Alamat_Kantor'] = df.Alamat_Kantor.astype('category')
df['Lama_tinggal_ditempat_sekarang'] = df.Lama_tinggal_ditempat_sekarang.astype('category')
df['debt_burden_ratio'] = df.debt_burden_ratio.astype('category')
df['Device_Type'] = df.Device_Type.astype('category')
df['Device_Active_Since'] = df.Device_Active_Since.astype('category')

# Merubah tipe data menjadi tipe karakter int64
# Gunakan intger untuk angka bulat
df['API_CreditScore_Vendor_A'] = df.API_CreditScore_Vendor_A.astype('int64')
df['API_CreditScore_Vendor_B'] = df.API_CreditScore_Vendor_B.astype('int64')
df['Device_Apps_Installed'] = df.Device_Apps_Installed.astype('int64')

# Merubah tipe data menjadi tipe karakter float64
# Gunakan intger untuk angka dengan koma
# Jika dalam kolom tersebut terdapat null, maka harus di simpan dalam tipe float
df['Lama_Cicilan'] = df.Lama_Cicilan.astype('float64')
df['Usia'] = df.Usia.astype('float64')
df['SLIK_Kolektibilitas'] = df.SLIK_Kolektibilitas.astype('float64')
df['Jumlah_Pinjaman'] = df.Jumlah_Pinjaman.astype('float64')
df['SLIK_Outstanding'] = df.SLIK_Outstanding.astype('float64')

In [7]:
# 2.3.2.5.1 Exploratory Data Analysis untuk gagal_bayar

# Untuk melihat frekuensi dari variabel gagal_bayar
print(df['gagal_bayar'].value_counts())

# Untuk melihat proporsi (dalam persentase) dari variabel gagal_bayar
print(df['gagal_bayar'].value_counts(normalize=True) * 100)

0_Bayar    696
1_Gagal    295
Name: gagal_bayar, dtype: int64
0_Bayar    70.232089
1_Gagal    29.767911
Name: gagal_bayar, dtype: float64

In [ ]:
# 2.3.2.5.2 Exploratory Data Analysis untuk SLIK_Kolektabilitas

# Untuk melihat frekuensi dari variabel SLIK_Kolektabilitas
print(df['SLIK_Kolektibilitas'].value_counts())

# Untuk melihat proporsi (dalam persentase) dari variabel SLIK_Kolektabilitas
print(df['SLIK_Kolektibilitas'].value_counts(normalize=True) * 100)

In [ ]:
# Berapa banyak yang gagal bayar dari masing-masing nilai SLIK Kolektabilitas
print(pd.crosstab(df['SLIK_Kolektibilitas'], df['gagal_bayar']))

# dalam proporsi persentase
print(pd.crosstab(df['SLIK_Kolektibilitas'],df['gagal_bayar'],normalize='index',)*100)

In [10]:
# 2.3.2.5.3 Exploratory Data Analysis untuk API_CreditScore_Vendor_A

# Rangkuman statistik untuk variabel numerik API_CreditScore_Vendor_A
print(df['API_CreditScore_Vendor_A'].describe())

# Rangkuman statistik untuk variabel numerik API_CreditScore_Vendor_A, berdasarkan default (gagal bayar atau tidak)
df.groupby('gagal_bayar')['API_CreditScore_Vendor_A'].describe()

count    1000.000000
mean      409.997000
std       251.237141
min         0.000000
25%       197.750000
50%       393.500000
75%       600.000000
max       999.000000
Name: API_CreditScore_Vendor_A, dtype: float64

             count        mean         std  min    25%    50%     75%    max
gagal_bayar
0_Bayar      696.0  417.708333  252.218741  0.0  210.0  402.0  608.75  999.0
1_Gagal      295.0  393.722034  246.710034  4.0  170.5  375.0  583.00  976.0

In [ ]:
import numpy as np

# Untuk bisa melakukan analisa lebih detil. Kita harus mengubah variabel gagal_bayar dari string menjadi angka (integer)
# Mengubah target variabel gagal_bayar menjadi angka 0 dan 1
conditions = [
             df['gagal_bayar'] == '1_Gagal', 
             df['gagal_bayar'] == '0_Bayar'
             ]

choices     = [
             1,
             0
             ]
df['default'] = np.select(conditions,choices, default = 0)

In [11]:
# Menghitung korelasi antara variabel API_CreditScore_Vendor_Adengan default
print(df['default'].corr(df['API_CreditScore_Vendor_A']))

-0.04192469918495392

In [17]:
from scipy import stats

# Uji coba hipotesis apakah ada perbedaan nilai rata-rata variabel 
# API_CreditScore_Vendor_A dengan default (gagal bayar dan tidak gagal bayar)
stats.ttest_ind( df[df.default == 0].API_CreditScore_Vendor_A,
             	df[df.default == 1].API_CreditScore_Vendor_A, nan_policy='omit')

Ttest_indResult(statistic=1.3256144731368706, pvalue=0.18527078257469912)