<a href="https://colab.research.google.com/github/IndraLukasTjahaja/Digital_Credit_Risk/blob/main/Bab_2_2_3_Panduan_Penggunaan_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.2.3
## Menulis koding di Python

In [1]:
# 2.2.3.3
print('Helo World')

Helo World

In [ ]:
# Contoh berikut adalah penggunaan rumus dasar matematika di Python:
a = 2
b = 3
c = 4
d = (a * b) / c
print(d)

1.5

In [ ]:
# 2.2.3.4 Impor data di Python

# library panda untuk menggunakan data frame
import pandas as pd

# Impor data dari excel xls ke Python
# Pembaca dapat langsung menunjuk kepada file excel yang terletak di website pendamping buku ini
# atau mengunduh terlebih dahulu dan menunjuk ke file excel di lokasi hard drive
# contoh: df = pd.read_excel('C:\User\pembaca\downloads\German_credit.xls')
df = pd.read_excel('https://tjahaja.com/wp-content/uploads/2021/07/Credit_Scoring_Dataset.xlsx')

In [ ]:
# library pyodbc untuk akses database dari Python
import pyodbc

# library panda untuk penyimpanan data ke data frame
Import panda

# Pembaca dapat mengganti NAMA_SERVER dengan server database yang digunakan, dan NAMA_DATABASE dengan nama dari database tersebut.
conn = pyodbc.connect(
    r'DRIVER={ODBC Driver 11 for SQL Server};'
    r'SERVER=NAMA_SERVER;'
    r'DATABASE=NAMA_DATABASE;'
    r'Trusted_Connection=yes;'
    )

# Berikut adalah query SQL yang digunakan untuk mendapatkan data dari database
query = "
SELECT  *
FROM db.tabel_data
;"

# Data dari database tersebut di simpan dalam data frame df
df = panda.read_sql(query, conn)

In [ ]:
import pandas

# Impor txt
df = pandas.read_table(‘german_credit.txt’)

# Impor csv
df=pandas.read_csv(‘german_credit.csv’)

In [ ]:
# 2.2.3.5 Struktur Data

In [ ]:
df.dtypes

In [ ]:
# 2.2.3.6 Tipe data

In [ ]:
df['installment_as_income_perc'] = df.installment_as_income_perc.astype('category')
df['present_res_since'] = df.present_res_since.astype('category')
df['people_under_maintenance'] = df.people_under_maintenance.astype('category')
df['credits_this_bank'] = df.credits_this_bank.astype('category')

In [ ]:
# 2.2.3.7 Analisa Variabel

In [ ]:
df['average_credit_per_month'] = df['credit_amount'] / df['duration_in_month']

In [ ]:
df['average_credit_per_month'] = df['credit_amount'] / df['duration_in_month']

In [ ]:
# 2.2.3.8 Membuat fungsi package library

In [ ]:
# Membuat fungsi dengan nama Average_per, yang menerima dua parameter
# def Average_per(parameter1, parameter2):
#    hasil = parameter1 / parameter2
#    return (hasil)

# Menggunakan fungsi Average_per, dengan membuat variabel baru di df
df['average_credit_per_month'] = Average_per(df['credit_amount'], df['duration_in_month'])