<a href="https://colab.research.google.com/github/IndraLukasTjahaja/Digital_Credit_Risk/blob/main/Lampiran_3_Perkenalan_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dasar Programming di Python

## Basic: Menulis teks

In [13]:
print('Helo World')

Helo World

Untuk menjalankan koding di atas, pilihlah baris diatas dengan menggunakan mouse klik tombol play di samping kiri atau tombol Shift-Enter

## Basic: Perhitungan di Python

In [2]:
# Melakukan aritmatika dasar
a = 2
b = 3
c = 4
d = a * b / c
print(d)

2.142857142857143

Python menyimpan angka 2 ke variabel a, angka 3 ke variabel b, dan angka 4 ke variabel c. Tetapi Python hanya dapat melakukan koding penyimpanan dengan simbol =. Di variabel d, Python melakukan aritmatika dasar perkalian antara variabel a dan b, lalu dibagi dengan c. Lalu hasilnya kita munculkan di layar console dengan perintah print(d).

## Latihan: Basic

In [3]:
# Tulis teks dimana 'Gaji saya dalam 5 tahun adalah IDR X', dimana X adalah perkalian dari 1.5 x 25000000

Gaji saya dalam 5 tahun adalah IDR  37500000.0

# Python Dataframe
## Cara Python membaca dataset / tabel

## Membuka file dataset excel

In [4]:
# library panda untuk menggunakan data frame
# Python menggunakan banyak library yang memudahkan analisa data
import pandas as pd

# Impor data dari excel xls ke Python
# contoh: df = pd.read_excel('C:\User\pembaca\downloads\Credit_Scoring_Dataset.xlsx')

df = pd.read_excel('https://github.com/IndraLukasTjahaja/Digital_Credit_Risk/raw/main/Credit_Scoring_Dataset.xlsx')

Cara Python menggunakan library adalah dengan perintah impor. Ketika memanggil library tersebut untuk digunakan pun, pembaca harus tetap menulis library tersebut. Seperti contoh di atas, ketika kita ingin menggunakan library pandas untuk impor data, pembaca harus menulis library (pandas), lalu nama fungsi yang ingin digunakan (read_excel). Data set tersebut disimpan dalam variabel data frame dengan nama df.

## Melihat isi dari dataset

In [5]:
# Melihat sample dari dataset
df.head(10) # Menampilkan 10 baris teratas dari dataframe df

        ID gagal_bayar  ...  Mobile_Number_Active_Since    Email_Domain_Type
0  ABC0001     0_Bayar  ...            1_Kurang_1_bulan        Public_Domain
1  ABC0002     1_Gagal  ...            1_Kurang_1_bulan        Public_Domain
2  ABC0003     0_Bayar  ...            2_Kurang_1_tahun        Public_Domain
3  ABC0004     0_Bayar  ...            2_Kurang_1_tahun  Professional_Domain
4  ABC0005     1_Gagal  ...            1_Kurang_1_bulan        Public_Domain
5  ABC0006     0_Bayar  ...            2_Kurang_1_tahun        Public_Domain
6  ABC0007     0_Bayar  ...             5_Lebih_5_tahun        Public_Domain
7  ABC0008     0_Bayar  ...             5_Lebih_5_tahun        Public_Domain
8  ABC0009     0_Bayar  ...              3_1_ke_2_tahun        Public_Domain
9  ABC0010     1_Gagal  ...            1_Kurang_1_bulan        Public_Domain

[10 rows x 26 columns]

## Melihat Struktur data

In [6]:
# Melihat penjelasan singkat dan tipe data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              1000 non-null   object
 1   gagal_bayar                     1000 non-null   object
 2   Lama_Cicilan                    1000 non-null   int64
 3   Tujuan_Pinjaman                 1000 non-null   object
 4   Jumlah_Pinjaman                 1000 non-null   int64
 5   Pekerjaan                       988 non-null    object
 6   Pendapatan_perbulan             990 non-null    object
 7   Lama_Bekerja                    973 non-null    object
 8   Status                          996 non-null    object
 9   Kepemilikan_Rumah               997 non-null    object
 10  Alamat_Rumah                    1000 non-null   object
 11  Alamat_Kantor                   1000 non-null   object
 12  Usia                            999 non-null    float64
 13  Lama_tinggal_ditempat_sekarang  998 non-null    object
 14  SLIK_Kolektibilitas             1000 non-null   object
 15  SLIK_Cicilan_Bulanan            1000 non-null   float64
 16  SLIK_Outstanding_CC             1000 non-null   float64
 17  API_CreditScore_Vendor_A        1000 non-null   int64
 18  API_CreditScore_Vendor_B        1000 non-null   int64
 19  Device_Type                     1000 non-null   object
 20  Device_Apps_Installed           1000 non-null   int64
 21  Device_Active_Since             1000 non-null   object
 22  Device_Apps_Segmentation        1000 non-null   object
 23  Mobile_Provider                 1000 non-null   object
 24  Mobile_Number_Active_Since      1000 non-null   object
 25  Email_Domain_Type               1000 non-null   object
dtypes: float64(3), int64(5), object(18)
memory usage: 203.2+ KB

Struktur data adalah cara untuk mengatur penyimpanan data. Python dapat membuat berbagai tipe dataset, seperti vektor, matrix, array, dan list. Tetapi dalam buku ini, penulis akan fokus kepada satu tipe dataset yang selalu digunakan di analisa data: data frame. 

Data Frame adalah data set yang terdiri dari baris dan kolom. Sesuai dengan contoh data yang diimpor dalam contoh koding adalah data pemberian kredit dari sebuah pinjol. Dalam hal ini, baris dari data frame menunjukan jumlah observasi dari user pinjol, ada 1000 baris observasi. Kolom menunjukan variabel informasi mengenai nasabah bank tersebut, ada 25 kolom variabel informasi dalam contoh ini.

Seperti yang terlihat dari contoh diatas, setiap kolom memiliki tipe data yang berbeda. Misalnya, satu kolom dapat berupa angka, kolom lain dapat berupa tulisan. Secara garis besar, ada tiga tipe data yang tersedia di bahasa programming:
1.	Karakter (character/object), atau sering disebut object, string, atau teks. Ini adalah tipe data yang berisikan huruf atau kata-kata.
2.	Numerik (number/float/double/integer), berisikan angka. Jika angkanya hanya boleh berisikan angka bulat, disebut integer. Jika boleh memiliki koma, disebut double, float, atau real.
3.	Logis (boolean), hanya berisikan TRUE atau FALSE, atau benar atau salah.

## Memilih kolom dalam dataframe
Untuk mengakses hanya ke variabel tertentu di data frame. Pembaca harus menggunakan menggunakan ['nama kolom'] atau df.namakolom

In [7]:
df['Usia']

0      67.0
1      22.0
2      49.0
3      45.0
4      53.0
       ...
995    31.0
996    40.0
997    38.0
998    23.0
999    27.0
Name: Usia, Length: 1000, dtype: float64

In [8]:
df.Jumlah_Pinjaman

0       500000
1      2000000
2      1000000
3      2000000
4      1000000
        ...
995     500000
996    1000000
997     500000
998     500000
999    1000000
Name: Jumlah_Pinjaman, Length: 1000, dtype: int64

## Membuat kolom / variabel baru dalam dataframe
Dengan mengakses langsung, pembaca dapat membuat berbagai modifikasi terhadap data frame. Bahkan dapat membuat variabel baru dengan mengkombinasikan variabel-variabel yang ada.

In [10]:
df['Ribu'] = 1000
df.head(10)

        ID gagal_bayar  ...    Email_Domain_Type  Ribu
0  ABC0001     0_Bayar  ...        Public_Domain  1000
1  ABC0002     1_Gagal  ...        Public_Domain  1000
2  ABC0003     0_Bayar  ...        Public_Domain  1000
3  ABC0004     0_Bayar  ...  Professional_Domain  1000
4  ABC0005     1_Gagal  ...        Public_Domain  1000
5  ABC0006     0_Bayar  ...        Public_Domain  1000
6  ABC0007     0_Bayar  ...        Public_Domain  1000
7  ABC0008     0_Bayar  ...        Public_Domain  1000
8  ABC0009     0_Bayar  ...        Public_Domain  1000
9  ABC0010     1_Gagal  ...        Public_Domain  1000

[10 rows x 27 columns]

## Latihan buat variabel baru juta

In [ ]:
# Buat variabel baru, yang memiliki nilai 1 juta

## Membuat variabel baru dengan formula

In [11]:
df['Jumlah_Pinjaman_Ribu'] = df['Jumlah_Pinjaman'] / df['Ribu']
df.head(10)

        ID gagal_bayar  ...  Ribu Jumlah_Pinjaman_Ribu
0  ABC0001     0_Bayar  ...  1000                500.0
1  ABC0002     1_Gagal  ...  1000               2000.0
2  ABC0003     0_Bayar  ...  1000               1000.0
3  ABC0004     0_Bayar  ...  1000               2000.0
4  ABC0005     1_Gagal  ...  1000               1000.0
5  ABC0006     0_Bayar  ...  1000                500.0
6  ABC0007     0_Bayar  ...  1000                500.0
7  ABC0008     0_Bayar  ...  1000                500.0
8  ABC0009     0_Bayar  ...  1000                500.0
9  ABC0010     1_Gagal  ...  1000                500.0

[10 rows x 28 columns]

## Latihan buat variabel baru Jumlah_Pinjaman_Juta

In [ ]:
# Buat variabel baru, Jumlah_Pinjaman_Juta. Yang berasal dari Jumlah_Pinjaman dibagi dengan Juta

## Latihan membuat variabel Cicilan bulanan
Tentunya cicilan bulanan dari pinjol adalah jumlah pinjaman dibagi tenor. Untuk memudahkan, kita asumsi interest/bunga adalah 0% saja

In [ ]:
# Tulis koding disini

# Membuat variabel baru dengan cara yang lebih kompleks

In [16]:
import numpy as np

# Untuk dapat melakukan analisa statistik, harus mengubah variabel gagal_bayar dari string menjadi angka (integer)
# Mengubah target variabel gagal_bayar menjadi angka 0 dan 1
conditions = [
             df['Usia'] <= 50, 
             df['Usia'] > 50
             ]

choices     = [
             '1.Muda',
             '2.Tua'
             ]
df['Usia_Kategori'] = np.select(conditions,choices, default = 0)
df.head(10)

        ID gagal_bayar  ...  default Usia_Kategori
0  ABC0001     0_Bayar  ...        0         2.Tua
1  ABC0002     1_Gagal  ...        1        1.Muda
2  ABC0003     0_Bayar  ...        0        1.Muda
3  ABC0004     0_Bayar  ...        0        1.Muda
4  ABC0005     1_Gagal  ...        1         2.Tua
5  ABC0006     0_Bayar  ...        0        1.Muda
6  ABC0007     0_Bayar  ...        0         2.Tua
7  ABC0008     0_Bayar  ...        0        1.Muda
8  ABC0009     0_Bayar  ...        0         2.Tua
9  ABC0010     1_Gagal  ...        1        1.Muda

[10 rows x 30 columns]

## Latihan membuat kategori usia yang lebih lengkap: dibawah 22: Pelajar. 23 hingga 55: Usia Produktif. > 55: Pensiun

In [ ]:
# Koding di sini