<a href="https://colab.research.google.com/github/IndraLukasTjahaja/Digital_Credit_Risk/blob/main/Lampiran_3_Perkenalan_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dasar Programming di Python

## Basic: Menulis teks

In [1]:
print('Helo World')

Helo World

Untuk menjalankan koding di atas, pilihlah baris diatas dengan menggunakan mouse klik tombol play di samping kiri atau tombol Shift-Enter

## Basic: Perhitungan di Python

In [2]:
# Melakukan aritmatika dasar
a = 2
b = 3
c = 4
d = a * b / c
print(d)

1.5

Python menyimpan angka 2 ke variabel a, angka 3 ke variabel b, dan angka 4 ke variabel c. Tetapi Python hanya dapat melakukan koding penyimpanan dengan simbol =. Di variabel d, Python melakukan aritmatika dasar perkalian antara variabel a dan b, lalu dibagi dengan c. Lalu hasilnya kita munculkan di layar console dengan perintah print(d).

## Latihan: Basic

In [3]:
# Tulis teks dimana 'Gaji saya dalam 5 tahun adalah IDR X', dimana X adalah perkalian dari 1.5 x 25000000

# Python Dataframe
## Cara Python membaca dataset / tabel

## Membuka file dataset excel

In [4]:
# library panda untuk menggunakan data frame
# Python menggunakan banyak library yang memudahkan analisa data
import pandas as pd

# Impor data dari excel xls ke Python
# contoh: df = pd.read_excel('C:\User\pembaca\downloads\Credit_Scoring_Dataset.xlsx')

df = pd.read_excel('https://tjahaja.com/wp-content/uploads/2021/10/Credit_Scoring_Dataset.xlsx')

Cara Python menggunakan library adalah dengan perintah impor. Ketika memanggil library tersebut untuk digunakan pun, pembaca harus tetap menulis library tersebut. Seperti contoh di atas, ketika kita ingin menggunakan library pandas untuk impor data, pembaca harus menulis library (pandas), lalu nama fungsi yang ingin digunakan (read_excel). Data set tersebut disimpan dalam variabel data frame dengan nama df.

## Melihat isi dari dataset

In [5]:
# Melihat sample dari dataset
df.head(10) # Menampilkan 10 baris teratas dari dataframe df

        ID gagal_bayar  ...  Mobile_Number_Active_Since Email_Domain_Type
0  ABC0001     0_Bayar  ...            1_Kurang_1_bulan     Public_Domain
1  ABC0002     1_Gagal  ...            1_Kurang_1_bulan     Public_Domain
2  ABC0005     1_Gagal  ...            1_Kurang_1_bulan     Public_Domain
3  ABC0010     1_Gagal  ...            1_Kurang_1_bulan     Public_Domain
4  ABC0012     1_Gagal  ...             5_Lebih_5_tahun     Public_Domain
5  ABC0014     1_Gagal  ...            1_Kurang_1_bulan     Public_Domain
6  ABC0039     0_Bayar  ...            1_Kurang_1_bulan     Public_Domain
7  ABC0045     1_Gagal  ...            1_Kurang_1_bulan     Public_Domain
8  ABC0047     0_Bayar  ...            1_Kurang_1_bulan     Public_Domain
9  ABC0055     1_Gagal  ...            1_Kurang_1_bulan     Public_Domain

[10 rows x 26 columns]

## Melihat Struktur data

In [6]:
# Melihat penjelasan singkat dan tipe data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 26 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              1000 non-null   object
 1   gagal_bayar                     1000 non-null   object
 2   Lama_Cicilan                    1000 non-null   int64
 3   Tujuan_Pinjaman                 1000 non-null   object
 4   Jumlah_Pinjaman                 1000 non-null   int64
 5   Pekerjaan                       988 non-null    object
 6   Pendapatan_perbulan             990 non-null    object
 7   Lama_Bekerja                    973 non-null    object
 8   Status                          996 non-null    object
 9   Kepemilikan_Rumah               997 non-null    object
 10  Alamat_Rumah                    1000 non-null   object
 11  Alamat_Kantor                   1000 non-null   object
 12  Usia                            999 non-null    float64
 13  Lama_tinggal_ditempat_sekarang  998 non-null    object
 14  SLIK_Kolektibilitas             1000 non-null   object
 15  SLIK_Cicilan_Bulanan            1000 non-null   float64
 16  SLIK_Outstanding_CC             1000 non-null   float64
 17  API_CreditScore_Vendor_A        1000 non-null   int64
 18  API_CreditScore_Vendor_B        1000 non-null   int64
 19  Device_Type                     1000 non-null   object
 20  Device_Apps_Installed           1000 non-null   int64
 21  Device_Active_Since             1000 non-null   object
 22  Device_Apps_Segmentation        1000 non-null   object
 23  Mobile_Provider                 1000 non-null   object
 24  Mobile_Number_Active_Since      1000 non-null   object
 25  Email_Domain_Type               1000 non-null   object
dtypes: float64(3), int64(5), object(18)
memory usage: 203.2+ KB

Struktur data adalah cara untuk mengatur penyimpanan data. Python dapat membuat berbagai tipe dataset, seperti vektor, matrix, array, dan list. Tetapi dalam buku ini, penulis akan fokus kepada satu tipe dataset yang selalu digunakan di analisa data: data frame. 

Data Frame adalah data set yang terdiri dari baris dan kolom. Sesuai dengan contoh data yang diimpor dalam contoh koding adalah data pemberian kredit dari sebuah pinjol. Dalam hal ini, baris dari data frame menunjukan jumlah observasi dari user pinjol, ada 1000 baris observasi. Kolom menunjukan variabel informasi mengenai nasabah bank tersebut, ada 25 kolom variabel informasi dalam contoh ini.

Seperti yang terlihat dari contoh diatas, setiap kolom memiliki tipe data yang berbeda. Misalnya, satu kolom dapat berupa angka, kolom lain dapat berupa tulisan. Secara garis besar, ada tiga tipe data yang tersedia di bahasa programming:
1.	Karakter (character/object), atau sering disebut object, string, atau teks. Ini adalah tipe data yang berisikan huruf atau kata-kata.
2.	Numerik (number/float/double/integer), berisikan angka. Jika angkanya hanya boleh berisikan angka bulat, disebut integer. Jika boleh memiliki koma, disebut double, float, atau real.
3.	Logis (boolean), hanya berisikan TRUE atau FALSE, atau benar atau salah.

## Memilih kolom dalam dataframe
Untuk mengakses hanya ke variabel tertentu di data frame. Pembaca harus menggunakan menggunakan ['nama kolom'] atau df.namakolom

In [7]:
df['Usia']

0      67.0
1      22.0
2      53.0
3      28.0
4      24.0
       ...
995    40.0
996    28.0
997    33.0
998    30.0
999    27.0
Name: Usia, Length: 1000, dtype: float64

In [8]:
df.Jumlah_Pinjaman

0       500000
1      2000000
2      1000000
3       500000
4      1000000
        ...
995    1000000
996    1000000
997    2000000
998    1000000
999    1000000
Name: Jumlah_Pinjaman, Length: 1000, dtype: int64

## Membuat kolom / variabel baru dalam dataframe
Dengan mengakses langsung, pembaca dapat membuat berbagai modifikasi terhadap data frame. Bahkan dapat membuat variabel baru dengan mengkombinasikan variabel-variabel yang ada.

In [9]:
df['Ribu'] = 1000
df.head(10)

        ID gagal_bayar  ...  Email_Domain_Type  Ribu
0  ABC0001     0_Bayar  ...      Public_Domain  1000
1  ABC0002     1_Gagal  ...      Public_Domain  1000
2  ABC0005     1_Gagal  ...      Public_Domain  1000
3  ABC0010     1_Gagal  ...      Public_Domain  1000
4  ABC0012     1_Gagal  ...      Public_Domain  1000
5  ABC0014     1_Gagal  ...      Public_Domain  1000
6  ABC0039     0_Bayar  ...      Public_Domain  1000
7  ABC0045     1_Gagal  ...      Public_Domain  1000
8  ABC0047     0_Bayar  ...      Public_Domain  1000
9  ABC0055     1_Gagal  ...      Public_Domain  1000

[10 rows x 27 columns]

## Latihan buat variabel baru juta

In [10]:
# Buat variabel baru, yang memiliki nilai 1 juta

## Membuat variabel baru dengan formula

In [11]:
df['Jumlah_Pinjaman_Ribu'] = df['Jumlah_Pinjaman'] / df['Ribu']
df.head(10)

        ID gagal_bayar  ...  Ribu Jumlah_Pinjaman_Ribu
0  ABC0001     0_Bayar  ...  1000                500.0
1  ABC0002     1_Gagal  ...  1000               2000.0
2  ABC0005     1_Gagal  ...  1000               1000.0
3  ABC0010     1_Gagal  ...  1000                500.0
4  ABC0012     1_Gagal  ...  1000               1000.0
5  ABC0014     1_Gagal  ...  1000                500.0
6  ABC0039     0_Bayar  ...  1000                500.0
7  ABC0045     1_Gagal  ...  1000               2000.0
8  ABC0047     0_Bayar  ...  1000               1000.0
9  ABC0055     1_Gagal  ...  1000               1000.0

[10 rows x 28 columns]

## Latihan buat variabel baru Jumlah_Pinjaman_Juta

In [12]:
# Buat variabel baru, Jumlah_Pinjaman_Juta. Yang berasal dari Jumlah_Pinjaman dibagi dengan Juta

## Latihan membuat variabel Cicilan bulanan
Tentunya cicilan bulanan dari pinjol adalah jumlah pinjaman dibagi tenor. Untuk memudahkan, kita asumsi interest/bunga adalah 0% saja

In [13]:
# Tulis koding disini

# Membuat variabel baru dengan cara yang lebih kompleks

In [14]:
import numpy as np

# Untuk dapat melakukan analisa statistik, harus mengubah variabel gagal_bayar dari string menjadi angka (integer)
# Mengubah target variabel gagal_bayar menjadi angka 0 dan 1
conditions = [
             df['Usia'] <= 50, 
             df['Usia'] > 50
             ]

choices     = [
             '1.Muda',
             '2.Tua'
             ]
df['Usia_Kategori'] = np.select(conditions,choices, default = 0)
df.head(10)

        ID gagal_bayar  Lama_Cicilan  ...  Ribu  Jumlah_Pinjaman_Ribu Usia_Kategori
0  ABC0001     0_Bayar             1  ...  1000                 500.0         2.Tua
1  ABC0002     1_Gagal             1  ...  1000                2000.0        1.Muda
2  ABC0005     1_Gagal             4  ...  1000                1000.0         2.Tua
3  ABC0010     1_Gagal             3  ...  1000                 500.0        1.Muda
4  ABC0012     1_Gagal             6  ...  1000                1000.0        1.Muda
5  ABC0014     1_Gagal             4  ...  1000                 500.0         2.Tua
6  ABC0039     0_Bayar             2  ...  1000                 500.0        1.Muda
7  ABC0045     1_Gagal             6  ...  1000                2000.0         2.Tua
8  ABC0047     0_Bayar             6  ...  1000                1000.0        1.Muda
9  ABC0055     1_Gagal             6  ...  1000                1000.0         2.Tua

[10 rows x 29 columns]

## Latihan membuat kategori usia yang lebih lengkap: dibawah 22: Pelajar. 23 hingga 55: Usia Produktif. > 55: Pensiun

In [15]:
# Koding di sini

## Contoh gabungan beberapa kriteria

In [16]:
import numpy as np

# Untuk dapat melakukan analisa statistik, harus mengubah variabel gagal_bayar dari string menjadi angka (integer)
# Mengubah target variabel gagal_bayar menjadi angka 0 dan 1
conditions = [
              df['Usia'] == 22,
             (df['Usia'] <= 18) | (df['Usia'] >= 56), 
             (df['Usia'] > 18) & (df['Usia'] < 55)
             ]

choices     = [
             '1.Usia_22',
             '2.Usia_Tidak_Produktif',
             '3.Usia_Produktif'
             ]
df['Usia_Kategori'] = np.select(conditions,choices, default = 0)
df.head(10)

        ID gagal_bayar  ...  Jumlah_Pinjaman_Ribu           Usia_Kategori
0  ABC0001     0_Bayar  ...                 500.0  2.Usia_Tidak_Produktif
1  ABC0002     1_Gagal  ...                2000.0               1.Usia_22
2  ABC0005     1_Gagal  ...                1000.0        3.Usia_Produktif
3  ABC0010     1_Gagal  ...                 500.0        3.Usia_Produktif
4  ABC0012     1_Gagal  ...                1000.0        3.Usia_Produktif
5  ABC0014     1_Gagal  ...                 500.0  2.Usia_Tidak_Produktif
6  ABC0039     0_Bayar  ...                 500.0        3.Usia_Produktif
7  ABC0045     1_Gagal  ...                2000.0  2.Usia_Tidak_Produktif
8  ABC0047     0_Bayar  ...                1000.0        3.Usia_Produktif
9  ABC0055     1_Gagal  ...                1000.0  2.Usia_Tidak_Produktif

[10 rows x 29 columns]